<meta charset="utf-8">
<script src="https://kit.fontawesome.com/828b8f0bbf.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="/assets/style.css" />
<title>{{ page.title }}</title>