<nav class="menu">
    <ul class="menu-link-list">
        <li class="menu-link-list-item">
            <a class="menu-link" href="/about.html">About</a>
        </li>
        <li class="menu-link-list-item">
            <a class="menu-link" href="/skills">Skills</a>
        </li>
        <li class="menu-link-list-item">
            <a class="menu-link" href="/interests">Interests</a>
        </li>
        <li class="menu-link-list-item">
            <a class="menu-link" href="/contact">Contact</a>
        </li>
    </ul>
</nav>