
$rich-black: #030303; // for body background colour
$eerie-black: #171717; // for article background colour
$charleston-green: #2c2c2c; //for article background rollover

$dark-medium-gray: #aaa; // for main body text throughout website
$platinum: #e9e9e9; // for titles

$middle-green: #52aa5e; // for the main heading and links
$turquoise-green: #a0d0a7; // for links in their hover state

$amaranth: #ef2d56; // just for the support heart in its hoverstate

$facebook-blue: #6d84b4; // for Facebook button rollover
$twitter-blue: #55acee;