.menu {
    display: flex;
    align-items: center;
}

.menu-link-list {
    list-style: none;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.menu-link-list-item {
    display: inline-block;
    padding: 0 2rem;
}

a.menu-link {
    color: $dark-medium-gray;
    &:hover {
        color: $platinum;
    }
}