<!DOCTYPE html>
<html>

<head>
  {% include "_head.liquid" %}
</head>

<body>
  
  {% include "_header.liquid" %}

  <main class="main">
    {{ page.content }}
  </main>
  {% include "_footer.liquid" %}
</body>

</html>